/*******

CSS Stylesheet //

********/

/*******

General Styles

********/

html {
    height: 100%;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    font: 13px/1.5 helvetica, arial, sans-serif;
    height: 100%;
}

h1 {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 1em;
}

h2 {
    position: absolute;
    bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    display: none;
}

ol, ul {
    list-style: none;
}

p {
    margin: 0;
}

hr {
    color: #DCDCDB;
}

/*******

Wrapper

********/

.wrapper {
    display: inline-block;
    height: 100%;
}


/*******

Draggable true on elements

********/

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


/*******

Products

********/

#products {
    width: 100%;
    margin-bottom: 2em;
}

#products > h1 {
    padding-left: 1em;
}

#products ul {
    list-style: none;
    padding: 0;
    margin: 0 1em;
}

#products ul li {
    display: inline-block;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    max-width: 184px;
}

#products ul li button {
    margin-left: 10px;
}

.item {
    float: left;
    width: 180px;
    height: 180px;
    margin: 10px;
    border: 1px solid #DEDADA;
    text-align: center;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

.item:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.item__image {
    border: 0;
    margin: 10px auto;
    width: 160px;
    height: 160px;
}

.item__info {
    font-family: Helvetica, sans-serif;
    background: #1f6cd4;
    background: rgba(31, 108, 212, 0.75);
    position: relative;
    bottom: 53px;
    color: #f3f3f3;
    padding: 5px 0;
}

.item__title {
    font-weight: bold;
}

.item__price {
    font-weight: bold;
}

    .item__price span {
        font-weight: normal;
    }

.opacity {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* STATES */

.yellow {
    background-color: #FFFF65;
    border: 2px dashed black;
}

.over {
    background-color: #FFEDCB;
    border: 2px dashed black;
}

.is-visible {
    display: block;
}

.draggingMsg {
    background: #DC9AAB;
}

.successMsg {
    background: rgb(145, 218, 145);
}

.deleteMsg {
    background: rgb(132, 76, 76);
}

.delete {
    float: right;
    cursor: pointer;
}

.hidden {
    display: none;
}

.background-none {
    background: none;
}

#message {
    font-size: 1.1em;
    text-align: center;
    color: white;
    padding: 1em;
}


/*******

Cart

********/

#grocery-list {
    min-height: 200px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#cart { 
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    padding: 0 5%;
}

#cart > h1 {
    border-bottom: 1px solid #DCDCDB;
}

#cart ul {
    padding: 0;
}

#cart li {
    list-style: none;
    border-bottom: 1px solid #ECDDDD;
    padding: 1em .5em;
}

#cart li:last-child {
    border: none;
    margin-bottom: 1em;
}

#cart .quantity {
    font-weight: bold;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #494949;
    display: inline-block;
    width: 15px;
    text-align: right;
}

#total {
    display: block;
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
}

    #total span {
        font-weight: normal;
    }

/* Mediaqueries */

@media all and (min-width: 813px) {
    .wrapper {
        display: inline-block;
        width: 100%;
    }
    #grocery-list {
        padding: 0 .5em;
    }
    #products {
        float: left;
        width: 65%;
    }
    #products ul li {
        max-width: 244px;
    }
    #cart {
        float: left;
        width: 25%;
    }
}